*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

html {
  height: 100%;
}

body,
html {
  scroll-behavior: smooth;
  min-height: 100%;
}

.fa {
  font-family: FontAwesome;
}

:root {
  --black: #0c0c0a;
  --white: #fff;
  --indent-small: 10px;
  --indent-medium: 20px;
  --indent-big: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background: var(--black) url(public/images/bg-concrete.jpg) 50% 50% no-repeat;
}

.page-soon {
  display: flex;
  background: var(--black) url(public/images/bg-concrete.jpg) 50% 50% no-repeat;
  background-size: cover;
  color: var(--white);

  .soon {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .soon-content {
    position: relative;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 2s 0.5s;

    user-select: none;
  }

  &.page-loaded .soon-content {
    opacity: 1;
  }

  .title {
    transition: transform 0.1s;
    transform-origin: 50% 50%;
    transform: scale(1) translateY(0);

    &:hover {
      transform: scale(1.05) translateY(-5px);
    }
  }

  .heading {
    text-align: center;
    border: 4px solid currentColor;
    padding: 5px 40px;
    font-size: 10vw;
    letter-spacing: 6vw;
    position: relative;
    background: var(--black);
    display: block;
    color: var(--white);
    text-decoration: none;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(
        45deg,
        #ff595e,
        #ffca3a,
        #8ac926,
        #1982c4,
        #6a4c93,
        #ff6700
      );
      background-size: 400%;
      z-index: -1;
      animation: glow 5s linear infinite;
      width: 100%;
      border-radius: 10px;
    }

    &:after {
      filter: blur(25px);
      transform: translate3d(0, 0, 0);
    }

    &:hover:after,
    &:hover:before {
      animation-duration: 2s;
    }
  }

  .heading span {
    margin-right: -6vw;
  }

  .text-content {
    font-size: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(50px);
    text-align: center;
  }

  .text {
    white-space: nowrap;
    margin: 0 0 40px;
  }

  .typed-text {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent;
    width: 0;
    padding-right: 3px;
  }

  &.page-loaded .typed-text {
    animation-delay: 10s 10s;
    animation:
      typing 2s 0.5s steps(30, end) forwards,
      blinking 1s 0.5s infinite;
  }

  .link-ig {
    display: inline-block;
    vertical-align: top;
    width: 50px;

    img {
      transition:
        opacity 0.2s,
        transform 0.2s;
    }
    &:hover img {
      opacity: 0.8;
      transform: translateY(-2px);
    }

    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.77, 0.02, 0.11, 0.97);
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-name: bounce-item;
  }
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: currentColor;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes bounce-item {
  0.5% {
    transform: translateY(0%) scale(1.3, 0.8);
  }
  1.75% {
    transform: translateY(-40%) scale(0.8, 1.2);
  }
  3%,
  100% {
    transform: translateY(0%);
  }
}

/* HOMEPAGE */

.vite-item {
  --outline-width: 4px;
  --outline-duration: 0.5s;

  position: relative;
  color: var(--white);
  overflow: hidden;

  .vite-item__holder {
    position: relative;
  }

  &:after,
  &:before,
  .vite-item__holder:after,
  .vite-item__holder:before {
    content: "";
    position: absolute;
    left: var(--indent-medium);
    bottom: var(--indent-medium);
    top: calc(100% - var(--indent-medium));
    border: var(--outline-width) solid var(--white);
    z-index: 1;
  }

  &:after {
    border-width: 0 0 0 var(--outline-width);
    transition: top var(--outline-duration);
  }

  &:before {
    bottom: auto;
    top: var(--indent-medium);
    right: calc(100% - var(--indent-medium));
    border-width: var(--outline-width) 0 0;
    transition: right var(--outline-duration) var(--outline-duration);
  }

  .vite-item__holder:after {
    left: auto;
    right: var(--indent-medium);
    bottom: calc(100% - var(--indent-medium));
    top: var(--indent-medium);
    border-width: 0 var(--outline-width) 0 0;
    transition: bottom var(--outline-duration);
  }

  .vite-item__holder:before {
    left: auto;
    right: var(--indent-medium);
    left: calc(100% - var(--indent-medium));
    top: auto;
    bottom: var(--indent-medium);
    border-width: 0 0 var(--outline-width);
    transition: left var(--outline-duration) var(--outline-duration);
  }

  &.js-visible,
  &:hover {
    &:after {
      top: var(--indent-medium);
      transition-delay: var(--outline-duration);
    }
    &:before {
      right: var(--indent-medium);
      transition-delay: 0s;
    }

    .vite-item__holder:after {
      bottom: var(--indent-medium);
      transition-delay: var(--outline-duration);
    }

    .vite-item__holder:before {
      left: var(--indent-medium);
      transition-delay: 0s;
    }
  }

  .vite-item__content-cover {
    position: absolute;
  }
}

.visual {
  margin-bottom: var(--indent-big);

  .visual-content {
  }
  .visual__image {
  }

  .vite-item__content-cover {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    align-items: center;
    padding: var(--indent-big);
    color: var(--white);
  }

  .vite-item__title {
    text-transform: uppercase;
    font-size: 40px;
  }
}

.visual_link {
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    border-bottom: 2px solid currentColor;
    transition: width 0.2s;
  }
  &:hover:after {
    width: 100%;
  }
}

/* SOON-2 */
.page-soon-2 {
  display: flex;
  background: var(--black) url(public/images/bg-concrete.jpg) 50% 50% no-repeat;
  background-size: cover;
  color: var(--white);

  .soon {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  .soon-content {
    position: relative;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 2s 0.5s;

    user-select: none;
  }

  &.page-loaded .soon-content {
    opacity: 1;
  }

  .title {
    position: relative;
  }

  .heading {
    text-align: center;
    border: 4px solid currentColor;
    padding: 5px 40px;
    font-size: 10vw;
    letter-spacing: 6vw;

    position: relative;
    background: var(--black);
    display: block;
    color: var(--white);
    text-decoration: none;

    &:before {
      content: attr(data-text);
      position: absolute;
      transform: translate3d(0, 0, 0);
      color: #e0ffff;
      z-index: -1;
    }

    &.js-animation-active {
      opacity: 0.9;
      text-shadow:
        0px -3px #ec2225,
        0px 3px #00c2cb,
        -3px 0px #ec2225,
        3px 0px #00c2cb;

      &:before {
        animation: animate-glitch 12ms ease-in-out infinite;
        z-index: 1;
      }
    }
  }

  .heading span {
    margin-right: -6vw;
  }

  .text-content {
    font-size: 30px;
    text-align: center;
    padding: var(--indent-big) var(--indent-medium);
  }

  .text {
    white-space: nowrap;
  }

  .typed-text {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent;
    width: 0;
    padding-right: 3px;
  }

  &.page-loaded .typed-text {
    animation-delay: 10s 10s;
    animation:
      typing 2s 0.5s steps(30, end) forwards,
      blinking 1s 0.5s infinite;
  }

  .instagram-wrapper {
    transform: scale(0.8);
    transform-origin: 50% 50%;
  }
  .instagram {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 17px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    animation: animate_logo 10s infinite alternate;
    &::after {
      content: "";
      position: relative;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 2000px;
      background: linear-gradient(
        135deg,
        #5335cf 0%,
        #de005e 25%,
        #f66e48 50%,
        #de005e 75%,
        #5335cf 100%
      );
      animation: animate_bg 10s infinite linear;
    }

    .logo {
      > div {
        position: absolute;
        top: 50%;
        left: 50%;
        border: #fff 6px solid;
        z-index: 2;
      }
      .logo_light {
        border: 4px #fff solid;
        border-radius: 50%;
        right: 23%;
        top: 23%;
        left: auto;
        animation: animate_light 5s infinite normal;
      }
      .logo_border {
        border-radius: 10px;
        width: 74%;
        height: 74%;
        margin-top: -37%;
        margin-left: -37%;
        animation: animate_border 5s infinite alternate;
      }
      .logo_circle {
        width: 48%;
        height: 48%;
        border-radius: 50%;
        margin-top: -24%;
        margin-left: -24%;
        animation: animate_circle 5s infinite alternate;
      }
    }
  }
}

@keyframes animate_bg {
  0% {
    top: 0;
  }
  50% {
    top: -1800px;
  }
  100% {
    top: 0;
  }
}

@keyframes animate_logo {
  0% {
    transform: scale(0);
    border-radius: 17px;
  }
  2.5% {
    transform: scale(1.1);
    border-radius: 5em;
  }
  5% {
    transform: scale(1);
    border-radius: 17px;
  }
  96% {
    transform: scale(1);
    border-radius: 17px;
  }
  98% {
    transform: scale(1.1);
    border-radius: 5em;
  }
  100% {
    transform: scale(0);
  }
}

@keyframes animate_border {
  0% {
    border-radius: 10em;
    transform: scale(0);
    opacity: 0;
  }
  2% {
    opacity: 0;
  }
  18% {
    border-radius: 10px;
    transform: scale(1);
    opacity: 1;
  }
  90% {
    border-radius: 10px;
    transform: scale(1);
  }
}

@keyframes animate_circle {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  5% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    transform: scale(1.3);
    opacity: 1;
  }
  15% {
    transform: scale(1);
  }
  95% {
    transform: scale(1);
    background-color: transparent;
  }
  97% {
    transform: scale(1.2);
    background-color: #ffffff;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animate_light {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animate-glitch {
  0%,
  100% {
    transform: translate3d(0, -7px, 0);
    opacity: 1;
  }
  20% {
    transform: translate3d(-10px, 0, 0);
    opacity: 0.7;
  }
  40% {
    transform: translate3d(0, 7px, 0);
    opacity: 0.2;
  }
  60% {
    transform: translate3d(10px, 0, 0);
    opacity: 0.3;
  }
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 0.9;
  }
}

.skrollr body {
  height: auto !important;
}

.logo {
  color: var(--white);

  a {
    display: block;
    font-size: 30px;
    letter-spacing: 5px;
    border: 2px solid currentColor;
    padding: 5px 10px;
    color: currentColor;
    text-decoration: none;
  }

  span {
    margin-right: -5px;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--indent-small) var(--indent-medium);
  background: var(--black);
  display: flex;
  align-items: center;
  z-index: 5;
  height: 60px;

  .logo {
    margin: 0 var(--indent-medium) 0 0;
  }

  .main-menu {
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    color: var(--white);

    .main-menu-opener {
      display: none;
    }

    ul {
      display: flex;
      flex-wrap: nowrap;

      li {
        margin-left: var(--indent-small);
      }

      a {
        padding: var(--indent-small);
      }
    }
  }
}

#main {
  padding: calc(60px + var(--indent-big)) var(--indent-big) var(--indent-big);
}

#footer {
  padding: var(--indent-medium) var(--indent-big);
  background: var(--black);
  display: flex;
  align-items: center;
  color: var(--white);

  .footer-top {
    order: 1;
    margin-left: auto;
    display: flex;
  }

  .social-media {
    margin: 0 0 0 var(--indent-small);
  }

  .footer-nav {
    ul {
      display: flex;
      flex-wrap: nowrap;
    }
    li {
      text-transform: uppercase;
      padding: 0 var(--indent-small);
    }
  }
  .footer-bottom {
    order: 0;
  }
}

.category-promo {
  display: flex;
  width: 100%;
  color: var(--white);
  font-size: 18px;
  margin: 0 0 var(--indent-big);

  &.category-right {
    .category-promo-content {
        order: 2;

         @media (width <= 680px) {
            & {
                order: 0;
            }
         }
    }
  }

  .category-promo-content {
    width: 30%;
    padding: var(--indent-medium);

    .title {
        font-size: 30px;
        padding: 0 0 var(--indent-medium)
    }
  }
  .category-promo-slider {
    width: 70%;
  }

  @media (width <= 680px) {
    & {
      flex-direction: column;
    }
    .category-promo-content {
      width: 100%;
    }
    .category-promo-slider {
      width: 100%;
    }
  }
}

div.swiper {
  --swiper-scrollbar-drag-bg-color: var(--white);
  --swiper-navigation-color: var(--white);

  color: var(--white);
  padding: 0 0 var(--indent-medium);
  max-width: 100%;

  .swiper-link {
    display: block;
    position: relative;
    text-transform: uppercase;
    color: currentColor;
    text-decoration: none;
  }
  .swiper-link-text {
    position: absolute;
    bottom: var(--indent-medium);
    left: var(--indent-medium);
    right: var(--indent-medium);
    padding: var(--indent-small);

    opacity: 0;
    transform: translateY(10px);
    transition:
      opacity 0.5s 0.2s,
      transform 0.5s 0s;

    .swiper-slide-visible & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .swiper-horizontal > .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    /* position: relative;
        top: 20px; */
  }
}
