/* START CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

html {
  height: 100%;
}

body,
html {
  scroll-behavior: smooth;
  min-height: 100%;
}

/* END CSS RESET */

/* START COMMON CSS */
.fa {
  font-family: FontAwesome;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font:
    400 16px/1.3 "Bebas Neue",
    Arial,
    serif;
  background: var(--black);
  color: var(--white);
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

:root {
  --black: #0c0c0a;
  --white: #fff;
  --red: #ec2225;
  --indent-small: 10px;
  --indent-medium: 20px;
  --indent-big: 40px;

  --header-height: 70px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  flex-grow: 1;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity 0.7s 0.5s ease-in-out,
    visibility 0s 2s;

  .loader__holder {
    border: 4px solid currentColor;
    padding: 20px 40px;
    font-size: 10vw;
    letter-spacing: 6vw;
    color: var(--white);
    transition:
      transform 1s 0.1s ease-in-out,
      opacity 0.5s 1s;
    transform-origin: 50% 50%;
    margin: 0 20px;
    color: var(--white);

    svg {
      display: block;
      fill: currentColor;
    }
  }

  .page-loaded & {
    opacity: 0;
    visibility: hidden;

    .loader__holder {
      transform: scale(4);
      opacity: 0;
    }
  }
}
.logo {
  color: var(--white);
  font-weight: normal;
  white-space: nowrap;

  a {
    display: block;
    font-size: 30px;
    letter-spacing: 5px;
    border: 2px solid currentColor;
    padding: 5px 10px;
    color: currentColor;
    text-decoration: none;
  }

  span {
    margin-right: -5px;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--indent-small) var(--indent-medium);
  background: var(--black);
  display: flex;
  align-items: center;
  z-index: 5;
  height: var(--header-height);

  .logo {
    margin: 0 var(--indent-medium) 0 0;
    z-index: 10;
  }
}
.main-menu {
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  color: var(--white);
  z-index: 10;

  .main-menu-opener {
    display: none;
  }

  ul {
    display: flex;
    flex-wrap: nowrap;

    li {
      margin-left: var(--indent-small);
    }

    a {
      padding: var(--indent-small);
    }
  }
}

#main:not(.site-main) {
  padding: var(--header-height) 0 0;
  flex-grow: 1;
}

#footer {
  background: var(--black);
  display: flex;
  align-items: center;
  color: var(--white);
  padding: var(--indent-medium) 0 0;

  @media (width <= 680px) {
    & {
      flex-direction: column;
    }
  }

  .footer-top {
    order: 1;
    margin-left: auto;
    display: flex;
    padding: 0 var(--indent-medium) var(--indent-medium);

    @media (width <= 680px) {
      & {
        margin-left: 0;
      }
    }
  }

  .social-media {
    margin: 0 0 0 var(--indent-small);
  }

  .footer-nav {
    ul {
      display: flex;
      flex-wrap: nowrap;
    }
    li {
      text-transform: uppercase;
      padding: 0 var(--indent-small);
    }
  }
  .footer-bottom {
    padding: 0 var(--indent-medium) var(--indent-medium);
    order: 0;
    @media (width <= 680px) {
      & {
        order: 1;
      }
    }
  }
}
.vite-item {
  --outline-width: 4px;
  --outline-duration: 0.5s;

  position: relative;
  color: var(--white);
  overflow: hidden;

  .vite-item__holder {
    position: relative;
  }

  &:after,
  &:before,
  .vite-item__holder:after,
  .vite-item__holder:before {
    content: "";
    position: absolute;
    left: var(--indent-medium);
    bottom: var(--indent-medium);
    top: calc(100% - var(--indent-medium));
    border: var(--outline-width) solid var(--white);
    z-index: 1;
  }

  &:after {
    border-width: 0 0 0 var(--outline-width);
    transition: top var(--outline-duration);
  }

  &:before {
    bottom: auto;
    top: var(--indent-medium);
    right: calc(100% - var(--indent-medium));
    border-width: var(--outline-width) 0 0;
    transition: right var(--outline-duration) var(--outline-duration);
  }

  .vite-item__holder:after {
    left: auto;
    right: var(--indent-medium);
    bottom: calc(100% - var(--indent-medium));
    top: var(--indent-medium);
    border-width: 0 var(--outline-width) 0 0;
    transition: bottom var(--outline-duration);
  }

  .vite-item__holder:before {
    left: auto;
    right: var(--indent-medium);
    left: calc(100% - var(--indent-medium));
    top: auto;
    bottom: var(--indent-medium);
    border-width: 0 0 var(--outline-width);
    transition: left var(--outline-duration) var(--outline-duration);
  }

  &.js-visible,
  .js-desktop-device &:hover {
    &:after {
      top: var(--indent-medium);
      transition-delay: var(--outline-duration);
    }
    &:before {
      right: var(--indent-medium);
      transition-delay: 0s;
    }

    & > .vite-item__holder:after {
      bottom: var(--indent-medium);
      transition-delay: var(--outline-duration);
    }

    & > .vite-item__holder:before {
      left: var(--indent-medium);
      transition-delay: 0s;
    }
  }
}
.visual_link {
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    border-bottom: 2px solid currentColor;
    transition: width 0.2s;
  }
  &:hover:after,
  &.visual_link-active:after {
    width: 100%;
  }
}

.product-item {
  position: relative;
  font-size: 18px;
  font-weight: normal;
  color: var(--white);
  text-align: center;
  overflow: hidden;

  .product-item__holder {
    position: relative;
  }

  .product-item__link {
    display: block;
    position: relative;
    color: var(--white);
  }

  .product-item__image {
    transform-origin: 50% 50%;
    transition: transform 0.2s;
  }

  .js-desktop-device
    &:not(.product-item--out-of-stock):not(.disabled):hover
    .product-item__image {
    transform: scale(1.2);
  }

  .product-item__text {
    position: absolute;
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px;
    padding: var(--indent-medium);
    background: var(--black);
  }

  .price {
    .woocommerce-Price-amount {
      padding: 0 2px;
    }
    ins {
      text-decoration: none;
      .woocommerce-Price-amount {
        text-decoration: none;
        color: var(--red);
      }
    }

    .woocommerce-Price-currencySymbol {
      padding: 0 0 0 3px;
    }

    .old-price {
      color: var(--red);
      text-decoration: line-through;
    }
  }

  &.product-item--out-of-stock:after,
  &.disabled:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--black);
    opacity: 0.8;
  }

  &.product-item--out-of-stock:before {
    display: block;
    content: "Out of stock";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);

    color: var(--red);
    z-index: 1;
    font-size: 20px;
    border: 2px solid var(--red);
    padding: var(--indent-small);
  }
}

.category-section__container {
  margin: 0 0 var(--indent-medium);
  background: var(--black) url(public/images/bg-concrete.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.category-section {
  display: flex;
  width: 100%;
  padding: var(--indent-big);
  font-size: 18px;

  @media (width <= 768px) {
    flex-direction: column;
  }

  .category-section__content {
    width: 30%;
    min-width: 30%;
    padding: 0 var(--indent-medium);

    @media (width <= 768px) {
      width: 100%;
      padding: var(--indent-medium) 0;
      order: -1 !important;
    }
  }

  &.category-section--right {
    .category-section__content {
      order: 2;
    }
  }

  &.category-section--center {
    flex-direction: column;

    .category-section__content {
      width: 100%;
      text-align: center;
      padding-bottom: var(--indent-medium);
    }
  }

  .category-section__slider {
    flex-grow: 1;
    min-width: 0;
  }

  .category-section__title {
    font-size: 70px;

    @media (width <= 768px) {
      font-size: 40px;
    }
  }

  div.swiper {
    --swiper-scrollbar-drag-bg-color: var(--white);
    --swiper-navigation-color: var(--white);
    --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.5);

    color: var(--white);
    padding: 0 0 var(--indent-medium);
    max-width: 100%;

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
      pointer-events: auto;
    }
  }
}

.form {
  display: block;
  font-size: 18px;

  fieldset {
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
  }

  .form__row {
    display: flex;
    padding: 0 0 10px;
    align-items: flex-start;
  }

  .form__field {
    max-width: 100%;
    width: 200px;
    border: 2px solid var(--white);
    background: var(--black);
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    margin: 0 10px 10px 0;
    outline: none;
    resize: vertical;

    &[disabled],
    .disabled {
      opacity: 0.5;
    }
  }

  .form__check-field {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 0;

    .form__check-label {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0;
    }

    .form__check-label + input {
      display: inline-block;
      vertical-align: middle;
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      width: 22px;
      height: 22px;
      margin: 0;
      padding: 0;
      border: 2px solid var(--white);
      background: var(--black);
      position: relative;

      &:after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        background: #fff;
      }

      &:checked:after {
        content: "";
      }

      &[type="radio"],
      &[type="radio"]:after {
        border-radius: 50%;
      }
    }

    &:has(disabled),
    &:has([disabled]) {
      opacity: 0.5;
    }
  }

  .form__select {
    outline: none;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    width: 200px;
    margin: 0 10px 10px 0;
    padding: 5px 10px;

    border: 2px solid var(--white);
    background: var(--black);
    color: var(--white);

    &[disabled] {
      opacity: 0.5;
    }
  }

  .form__button {
    display: block;
    width: 200px;
    max-width: 100%;
    background-color: var(--white);
    padding: 5px;
    cursor: pointer;
    border: 2px solid var(--white);
    color: var(--black);
    font-size: 18px;
    line-height: 24px;
    height: 34px;
    text-transform: uppercase;
    transition:
      background-color 0.4s,
      color 0.4s;

    &:hover {
      background-color: var(--black);
      color: var(--white);
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }
}

@media (width > 768px) {
  div[id^="mobile-only-section"] {
    visibility: hidden;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0 !important;
    pointer-events: none !important;

    video,
    img,
    picture {
      display: none !important;
    }
  }
}
@media (width <= 768px) {
  div[id^="desktop-only-section"] {
    visibility: hidden;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0 !important;
    pointer-events: none !important;

    video,
    img,
    picture {
      display: none !important;
    }
  }
}

/* START COLLECTION MENU  */
.collection-menu {
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 500px;
  padding: var(--indent-medium);
  right: 0;
  background: #000;
  font-size: 20px;
  top: var(--header-height);
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s;

  ul {
    display: block;

    li {
      display: block;
      padding: 0;
    }

    a {
      margin: var(--indent-small) 0;
      padding: 0;
    }
  }
}

.collection-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.js-collection-active {
  overflow: hidden;

  .collection-menu {
    transform: translateX(0);
  }
  .collection-menu-overlay {
    opacity: 1;
    visibility: visible;
  }
}
/* END  COLLECTION MENU  */

/* END COMMON CSS */

/* START PAGE SOON */
.page-soon {
  display: flex;
  background: var(--black) url(public/images/bg-concrete.jpg) 50% 50% no-repeat;
  background-size: cover;

  .soon {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .soon-content {
    position: relative;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 2s 0.5s;
    white-space: nowrap;

    user-select: none;

    .page-loaded & {
      opacity: 1;
    }
  }
  .title {
    position: relative;
    font-weight: normal;
  }

  .heading {
    text-align: center;
    border: 4px solid currentColor;
    padding: 5px 40px;
    font-size: 10vw;
    letter-spacing: 1vw;

    position: relative;
    background: var(--black);
    display: block;
    color: var(--white);
    text-decoration: none;

    &:before {
      content: attr(data-text);
      position: absolute;
      transform: translate3d(0, 0, 0);
      color: #e0ffff;
      z-index: -1;
    }

    &.js-animation-active {
      opacity: 0.9;
      text-shadow:
        0px -3px #ec2225,
        0px 3px #00c2cb,
        -3px 0px #ec2225,
        3px 0px #00c2cb;

      &:before {
        animation: animate-glitch 12ms ease-in-out infinite;
        z-index: 1;
      }
    }
  }

  .heading span {
    margin-right: -1vw;
  }

  .text-content {
    font-size: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(50px);
    text-align: center;
  }

  .text {
    white-space: nowrap;
    margin: 0 0 40px;
  }

  .typed-text {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent;
    width: 0;
    padding-right: 3px;

    .page-loaded & {
      animation-delay: 10s 10s;
      animation:
        typing 2s 0.5s steps(30, end) forwards,
        blinking 1s 0.5s infinite;
    }
  }

  .link-ig {
    display: inline-block;
    vertical-align: top;
    width: 50px;

    img {
      transition:
        opacity 0.2s,
        transform 0.2s;
    }
    &:hover img {
      opacity: 0.8;
      transform: translateY(-2px);
    }

    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.77, 0.02, 0.11, 0.97);
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-name: bounce-item;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: currentColor;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes bounce-item {
  0.5% {
    transform: translateY(0%) scale(1.3, 0.8);
  }
  1.75% {
    transform: translateY(-40%) scale(0.8, 1.2);
  }
  3%,
  100% {
    transform: translateY(0%);
  }
}

@keyframes animate-glitch {
  0%,
  100% {
    transform: translate3d(0, -7px, 0);
    opacity: 1;
  }
  20% {
    transform: translate3d(-10px, 0, 0);
    opacity: 0.7;
  }
  40% {
    transform: translate3d(0, 7px, 0);
    opacity: 0.2;
  }
  60% {
    transform: translate3d(10px, 0, 0);
    opacity: 0.3;
  }
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 0.9;
  }
}
/* END PAGE SOON */

/* START HOMEPAGE */
#main > [id] {
  scroll-margin-top: var(--header-height);
}
.skrollr body {
  height: auto !important;
}

.visual {
  img {
    width: 100%;
  }

  .visual__content-cover {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    align-items: center;
    padding: var(--indent-big);
  }

  .visual__image {
    video {
      display: block;
      width: 100%;
      height: auto;
      pointer-events: none;
      user-select: none;
    }
  }

  .visual__title {
    font-size: 70px;

    @media (width <= 768px) {
      font-size: 40px;
    }
  }
}

/* START PRODUCT PAGE */
.product-block {
  display: flex;
  width: 100%;
  position: relative;

  &.product-block--out-of-stock,
  &.disabled {
    .product-form .button {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  .product-data {
    width: 40%;
    padding: var(--indent-big) var(--indent-medium) var(--indent-medium);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .product-title {
    font-size: 18px;
    font-weight: normal;
    padding: 0 0 var(--indent-small);
  }
  .product-price {
    font-size: 18px;
    font-weight: normal;
    padding: 0 0 var(--indent-big);
  }

  .product-data-item {
    padding: 0 0 var(--indent-medium);
  }

  .product-tabs {
    .tabset {
      display: flex;
      padding: 0 0 var(--indent-small);

      li {
        padding: 0 var(--indent-medium) 0 0;
      }
    }
    .tab-container {
      overflow: hidden;
      position: relative;
    }
    .tab-item {
      transition: max-height 0.3s linear;
      max-height: 0;
      overflow: hidden;
      position: relative;

      &.js-tab-active {
        transition-delay: 0.3s;
      }

      &.js-tab-active {
        max-height: 1000px;
      }
    }

    .size-heading {
      display: flex;
      padding: 0 0 var(--indent-small);

      span {
        margin-left: auto;
      }
    }

    .size-table {
      width: 100%;
      text-align: center;

      th {
        font-weight: normal;
      }
    }
  }

  .description {
    overflow: hidden;
    p {
      margin-bottom: var(--indent-small);
      &:last-child {
        margin: 0;
      }
    }
  }

  .product-size {
    .title {
      display: block;
      margin-bottom: var(--indent-small);
    }

    ul {
      display: flex;

      li {
        padding: 0 var(--indent-medium) 0 0;
      }

      label {
        position: relative;
        display: block;

        span {
          display: block;
          overflow: hidden;
          width: 40px;
          text-align: center;
          border: 1px solid var(--white);
          padding: 3px;
          cursor: pointer;
        }

        span:hover,
        input:checked + span {
          background-color: var(--white);
          color: var(--black);
        }

        input:disabled + span {
          pointer-events: none;
          opacity: 0.5;
        }

        input {
          width: 1px;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 50%;
          opacity: 0;
        }
      }
    }
  }

  .product-color {
    .title {
      display: block;
      margin-bottom: var(--indent-small);
    }

    ul {
      display: flex;

      li {
        padding: 0 var(--indent-medium) 0 0;
      }

      label {
        position: relative;
        display: block;

        span {
          display: block;
          width: 80px;
          height: 18px;
          border: 1px solid var(--white);
          cursor: pointer;
          margin-bottom: 5px;

          &:after {
            bottom: -5px;
            top: auto;
            border-bottom-width: 1px;
          }
        }

        input:checked + span:after {
          width: 100%;
        }

        input:disabled + span {
          opacity: 0.3;
          pointer-events: none;

          &:after {
            display: none;
          }
        }

        input {
          width: 1px;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 50%;
          opacity: 0;
        }
      }
    }
  }

  .product-form {
    position: sticky;
    top: var(--header-height);
    padding: var(--indent-big) 0 0;
    margin: 0;

    .button {
      display: block;
      width: 100%;
      background-color: var(--white);
      padding: 5px;
      cursor: pointer;
      border: 1px solid var(--white);
      color: var(--black);
      font-size: 18px;
      line-height: 24px;
      height: 34px;
      transition:
        background-color 0.4s,
        color 0.4s;

      &:hover {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;

    .product-data {
      width: 100%;
      min-height: auto;

      .product-form {
        max-width: none;
        /* padding: calc(2 * var(--indent-big)) 0; */
      }
    }
  }

  .product-visual {
    position: relative;

    div.swiper {
      --swiper-scrollbar-drag-bg-color: var(--black);
      --swiper-navigation-color: var(--black);
      --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.5);

      color: var(--white);
      padding: 0 0 var(--indent-medium);
      max-width: 100%;

      .swiper-button-prev.swiper-button-disabled,
      .swiper-button-next.swiper-button-disabled {
        pointer-events: auto;
      }
    }
    @media (min-width: 1025px) {
      width: 60%;
      .swiper-wrapper {
        display: block;
      }
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
      .swiper .swiper-slide {
        transform: none !important;
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

.you-may-like-container {
  .category-section .category-section__title {
    font-size: 40px;
  }
}
/* END PRODUCT PAGE */

/* START ABOUT PAGE */
.page-about {
  .about-section {
    font-size: 20px;
    padding: 0 var(--indent-medium) var(--indent-big);
  }

  .about-visual {
    margin: 0 0 var(--indent-medium);
  }

  h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 0 0 var(--indent-medium);
  }

  h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 var(--indent-medium);
  }

  p {
    margin: 0 0 var(--indent-small);
  }

  @media (width <= 680px) {
    .about-section {
      font-size: 16px;
    }

    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 24px;
    }
  }
}

/* END ABOUT PAGE */

/* WOOCOMMERCE OVERRIDE */
.woocommerce div.product form.cart {
  margin: 0;
}
.woocommerce div.product form.cart .variations label {
  font-weight: normal;
  font-size: inherit;
}

.woocommerce div.product form.cart .variations td,
.woocommerce div.product form.cart .variations th {
  line-height: inherit;
}

.woocommerce div.product form.cart .variations {
  margin: 0;
}

.woocommerce
  div.product
  form.cart
  .woocommerce-variation-price:not(:empty)::before {
  content: "Selected product price";
  margin: 0 3px 0 0;
}

.woocommerce div.product form.cart .reset_variations {
  display: none !important;
}

.woocommerce-variation-availability {
  display: none;
}

.woocommerce
  div.product
  .woocommerce-variation.single_variation
  .woocommerce-variation-price {
  span.price {
    color: var(--white);
    display: block;
  }
  span.price ins {
    font-weight: normal;
    text-decoration: none;
    color: var(--red);
  }
}

.woocommerce div.product {
  .price ins {
    text-decoration: none;
    color: var(--red);
  }

  p.stock.in-stock {
    display: none;
  }
}

.woocommerce div.product form.cart div.quantity {
  float: none;
  padding: 0 0 var(--indent-medium);
}

.woocommerce .quantity .qty {
  max-width: 100%;
  width: 80px;
  height: 32px;
  border: 1px solid var(--white);
  background: var(--black);
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 10px;
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
  border-radius: 0;
  position: relative;
  text-align: left;
  outline: none;
}

.woocommerce div.product form.cart .button {
  float: none;
  display: block;
  width: 100%;
  background-color: var(--white);
  padding: 5px;
  cursor: pointer;
  border: 1px solid var(--white);
  color: var(--black);
  font-size: 18px;
  line-height: 24px;
  height: 34px;
  font-weight: normal;
  border-radius: 0;
  transition:
    background-color 0.4s,
    color 0.4s;

  &:hover {
    background-color: var(--black);
    color: var(--white);
  }
}

.product-block .product-data {
  .product-title {
    padding: 0 0 var(--indent-medium);
  }

  .price {
    padding: 0 0 var(--indent-small);
  }

  .product-data-item--status.outofstock {
    color: var(--red);
  }

  .product-tabs .tabset {
    padding: 0;
  }

  .product-tabs .tab-item > *:first-child {
    padding-top: var(--indent-small);
  }

  @media (max-width: 1024px) {
    .product-form {
      max-width: none;
      padding: var(--indent-medium) 0 0;
    }
  }
}

[data-block-name="woocommerce/cart"] {
  * {
    font-weight: normal !important;
  }
  .wp-block-woocommerce-filled-cart-block {
    position: relative;
    padding: var(--indent-medium) var(--indent-medium) 0;
  }

  .is-large.wc-block-cart {
    margin: 0;
  }

  .editor-styles-wrapper
    table.wc-block-cart-items
    .wc-block-cart-items__header
    th,
  table.wc-block-cart-items .wc-block-cart-items__header th,
  .is-large.wc-block-cart .wc-block-cart__totals-title {
    font-size: 20px;
  }

  .is-large.wc-block-cart .wc-block-cart-items td {
    border-color: var(--white);
  }

  a.wc-block-components-product-name {
    color: var(--white);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .wc-block-components-product-details {
    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 var(--indent-small) 0 0;
    }
  }

  .wc-block-components-quantity-selector {
    border: 1px solid var(--white);
  }

  .wc-block-components-quantity-selector
    .wc-block-components-quantity-selector__button {
    opacity: 1 !important;
    color: var(--white);
  }

  .wc-block-components-quantity-selector
    input.wc-block-components-quantity-selector__input {
    outline: none;
  }

  .wc-block-components-notices__snackbar {
    display: none;
  }

  .wc-block-components-totals-shipping {
    display: none;
  }

  .is-large.wc-block-cart .wc-block-cart__totals-title {
    padding-left: 16px;
  }

  .wc-block-cart__submit-container .wc-block-cart__submit-button {
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: var(--white);
    padding: 5px;
    cursor: pointer;
    border: 2px solid var(--white);
    color: var(--black);
    font-size: 18px;
    line-height: 24px;
    height: 34px;
    text-transform: uppercase;
    line-height: 40px;
    transition:
      background-color 0.4s,
      color 0.4s;

    &:hover {
      background-color: var(--black);
      color: var(--white);
    }
  }

  .is-large.wc-block-cart .wc-block-components-sidebar {
    align-self: flex-start;
    position: sticky;
    top: 0;
  }

  .wp-block-woocommerce-empty-cart-block {
    > * {
      display: none;
    }

    .wc-block-cart__empty-cart__title {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 4vw;
      display: block;
      text-align: center;
    }

    .wc-block-cart__empty-cart__title.js-empty-cart-inited.with-empty-cart-icon:before {
      display: none;
    }

    .empty-card-image {
      overflow: hidden;
      position: relative;
      border-radius: 50%;
      margin: 0 auto var(--indent-big);
      max-width: 500px;
      background: var(--white);
    }
  }
}

.wp-block-woocommerce-checkout.wc-block-checkout {
  padding: var(--indent-medium) var(--indent-medium) 0;

  * {
    font-weight: normal !important;
  }

  svg {
    width: auto;
  }

  .wc-block-components-notice-banner {
    border-radius: 0;
  }

  .wc-block-components-title.wc-block-components-title {
    font-size: 20px;
  }

  .wc-blocks-components-select .wc-blocks-components-select__expand {
    width: auto;
  }

  .wc-block-components-text-input label {
    color: var(--white);
  }

  .wc-block-components-text-input.is-active label {
    color: var(--white);
  }

  .wc-block-components-text-input input[type="text"]:focus + label,
  .wc-block-components-text-input input[type="tel"]:focus + label,
  .wc-block-components-text-input input[type="email"]:focus + label {
    color: var(--black);
  }

  .wc-block-components-text-input input[type="text"],
  .wc-block-components-text-input input[type="tel"],
  .wc-block-components-text-input input[type="email"],
  textarea {
    outline: none;
    width: 100%;
    border: 2px solid var(--white);
    background: var(--black);
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    margin: 0;
    border-radius: 0;
    outline: none;
    resize: vertical;
  }

  .wc-blocks-components-select .wc-blocks-components-select__container {
    border-radius: 0;
    height: 54px;
    background: var(--black);
    border: 2px solid var(--white);

    .wc-blocks-components-select__label {
      color: var(--white);
    }

    svg.wc-blocks-components-select__expand {
      fill: var(--white);
    }

    &:has(select:focus) {
      background: var(--white);

      .wc-blocks-components-select__label {
        color: var(--black);
      }

      svg.wc-blocks-components-select__expand {
        fill: var(--black);
      }
    }

    .wc-blocks-components-select__select {
      border-radius: 0;
      outline: none;
      color: var(--white);

      &:focus {
        color: var(--black);
      }
    }
  }

  .wc-block-components-checkbox {
    .wc-block-components-checkbox__mark {
      display: none;
    }

    .wc-block-components-checkbox__label {
      line-height: 26px;
    }

    .wc-block-components-checkbox__input[type="checkbox"] {
      display: inline-block;
      vertical-align: middle;
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      width: 22px;
      height: 22px;
      margin: 0 var(--indent-small) 0 0;
      padding: 0;
      border: 2px solid var(--white);
      background: var(--black);
      position: relative;
      border-radius: 0;

      &:before {
        display: none !important;
      }

      &:after {
        content: "";
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        background: #fff;
      }

      &:checked:after {
        display: block;
      }
    }
  }

  .wc-block-checkout__shipping-option {
    display: none;
  }

  .wc-block-components-radio-control--highlight-checked
    .wc-block-components-radio-control-accordion-option--checked-option-highlighted,
  .wc-block-components-radio-control--highlight-checked
    label.wc-block-components-radio-control__option--checked-option-highlighted {
    border-radius: 0;
  }

  .wc-block-components-notice-banner {
    .wc-block-components-notice-banner__dismiss {
      line-height: 24px !important;
    }
    > svg {
      width: auto;
    }
  }

  .wc-block-checkout__add-note .wc-block-components-textarea {
    margin-top: var(--indent-medium);
  }

  .wc-block-components-checkout-return-to-cart-button svg {
    width: auto;
  }

  .wc-block-components-button:not(.is-link) {
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: var(--white);
    padding: 5px;
    cursor: pointer;
    border: 2px solid var(--white);
    color: var(--black);
    font-size: 18px;
    line-height: 24px;
    height: 34px;
    text-transform: uppercase;
    line-height: 40px;
    transition:
      background-color 0.4s,
      color 0.4s;

    &:hover {
      background-color: var(--black);
      color: var(--white);
    }
  }

  .wc-block-components-checkout-place-order-button__text {
    justify-content: center;
  }

  .wp-block-woocommerce-checkout-order-summary-block {
    .wc-block-components-checkout-order-summary__title-text {
      font-size: 20px;
    }

    .wc-block-components-checkout-order-summary__title-icon {
      width: auto;
    }
  }
}

body.woocommerce-account {
  .woocommerce {
    padding: var(--indent-medium);
  }

  h2 {
    font-weight: normal;
    margin: 0 0 var(--indent-medium);
    font-size: 32px;
  }

  .woocommerce form.login,
  .woocommerce .woocommerce-ResetPassword.lost_reset_password {
    border: 2px solid var(--white);
    margin: 0;
    border-radius: 0;
    padding: var(--indent-medium);
    font-size: 18px;
    line-height: 22px;

    .woocommerce-form-row,
    .form-row {
      margin: 0;
      padding: 0 0 var(--indent-medium);
    }

    label {
      line-height: inherit;
      margin: 0 0 var(--indent-small);
    }

    input {
      outline: none;
      width: 100%;
      border: 2px solid var(--white);
      background: var(--black);
      display: inline-block;
      vertical-align: top;
      padding: 5px 10px;
      font-size: 18px;
      line-height: 22px;
      color: var(--white);
      margin: 0;
      border-radius: 0;
    }

    .woocommerce-form-login__submit,
    .woocommerce-Button.button {
      width: 200px;
      max-width: 100%;
      background-color: var(--white);
      padding: 5px;
      cursor: pointer;
      border: 2px solid var(--white);
      color: var(--black);
      font-size: 18px;
      line-height: 24px;
      height: 34px;
      margin: 0 var(--indent-medium) 0 0;
      text-transform: uppercase;
      border-radius: 0;
      font-weight: normal;
      transition:
        background-color 0.4s,
        color 0.4s;

      &:hover {
        background-color: var(--black);
        color: var(--white);
      }

      &:disabled {
        pointer-events: none;
        opacity: 0.3;
      }
    }

    .woocommerce-form-login__rememberme {
      margin: 5px 0 0;
      display: inline-block;
      vertical-align: middle;

      .woocommerce-form__input-checkbox {
        display: inline-block;
        vertical-align: middle;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        width: 22px;
        height: 22px;
        margin: 0 var(--indent-small) 0 0;
        padding: 0;
        border: 2px solid var(--white);
        background: var(--black);
        position: relative;

        &:after {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 50%;
          height: 50%;
          background: #fff;
        }

        &:checked:after {
          content: "";
        }
      }
    }
  }

  .woocommerce-LostPassword.lost_password a {
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      border-bottom: 2px solid currentColor;
      transition: width 0.2s;
    }
    &:hover:after,
    &.visual_link-active:after {
      width: 100%;
    }
  }

  .woocommerce-MyAccount-navigation {
    padding: 0 0 var(--indent-medium);
    ul {
      list-style: none;
    }
    li {
      padding: 0 0 var(--indent-small);
    }
    a {
      color: var(--white);
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        border-bottom: 2px solid currentColor;
        transition: width 0.2s;
      }
      &:hover:after,
      li.is-active &:after {
        width: 100%;
      }
    }
  }
  .woocommerce-MyAccount-content {
    strong {
      font-weight: normal;
      color: var(--red);
    }
    p {
      margin: 0 0 var(--indent-medium);
    }

    a {
      color: var(--white);
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-bottom: 2px solid currentColor;
        transition: width 0.2s;
      }
      &:hover:after {
        width: 0;
      }
    }
  }

  .woocommerce-address-fields {
    .form-row .input-text {
      outline: none;
      width: 100%;
      border: 2px solid var(--white);
      background: var(--black);
      display: inline-block;
      vertical-align: top;
      padding: 5px 10px;
      font-size: 18px;
      line-height: 22px;
      color: var(--white);
      margin: 0;
      border-radius: 0;
    }

    button.button {
      width: 200px;
      max-width: 100%;
      background-color: var(--white);
      padding: 5px;
      cursor: pointer;
      border: 2px solid var(--white);
      color: var(--black);
      font-size: 18px;
      line-height: 24px;
      height: 34px;
      margin: 0 var(--indent-medium) 0 0;
      text-transform: uppercase;
      border-radius: 0;
      font-weight: normal;
      transition:
        background-color 0.4s,
        color 0.4s;

      &:hover {
        background-color: var(--black);
        color: var(--white);
      }

      &:disabled {
        pointer-events: none;
        opacity: 0.3;
      }
    }
  }

  .select2-container .select2-dropdown,
  .select2-container .select2-selection {
    outline: none;
    width: 100%;
    border: 2px solid var(--white);
    background: var(--black);
    display: inline-block;
    vertical-align: top;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    margin: 0;
    border-radius: 0;
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    color: var(--white);
  }

  .select2-container--default
    .select2-results__option--highlighted[aria-selected],
  .select2-container--default
    .select2-results__option--highlighted[data-selected] {
    color: var(--black);
    background: var(--white);
  }

  .woocommerce form.woocommerce-EditAccountForm.edit-account {
    font-size: 18px;
    line-height: 22px;

    fieldset {
      padding: var(--indent-medium);
      margin: 0 0 var(--indent-medium);
    }

    .form-row {
      margin: 0;
      padding: 0 0 var(--indent-medium);
    }

    label {
      line-height: inherit;
      margin: 0 0 var(--indent-small);
    }

    input {
      outline: none;
      width: 100%;
      border: 2px solid var(--white);
      background: var(--black);
      display: inline-block;
      vertical-align: top;
      padding: 5px 10px;
      font-size: 18px;
      line-height: 22px;
      color: var(--white);
      margin: 0;
      border-radius: 0;
    }
    .woocommerce-Button.button {
      width: 200px;
      max-width: 100%;
      background-color: var(--white);
      padding: 5px;
      cursor: pointer;
      border: 2px solid var(--white);
      color: var(--black);
      font-size: 18px;
      line-height: 24px;
      height: 34px;
      margin: 0 var(--indent-medium) 0 0;
      text-transform: uppercase;
      border-radius: 0;
      font-weight: normal;
      transition:
        background-color 0.4s,
        color 0.4s;

      &:hover {
        background-color: var(--black);
        color: var(--white);
      }

      &:disabled {
        pointer-events: none;
        opacity: 0.3;
      }
    }
  }

  .woocommerce-password-strength {
    font-weight: normal;
    font-size: inherit;
    color: var(--black);
  }

  .woocommerce .woocommerce-info {
    .button.wc-forward {
      background-color: var(--white);
      padding: 5px;
      cursor: pointer;
      border: 2px solid var(--white);
      color: var(--black);
      font-size: 18px;
      line-height: 24px;
      height: 34px;
      margin: 0 var(--indent-medium) 0 0;
      text-transform: uppercase;
      border-radius: 0;
      font-weight: normal;
      transition:
        background-color 0.4s,
        color 0.4s;

      &:hover {
        background-color: var(--black);
        color: var(--white);
      }

      &:disabled {
        pointer-events: none;
        opacity: 0.3;
      }
    }
  }

  .woocommerce-MyAccount-navigation-link--downloads {
    display: none;
  }

  .woocommerce .woocommerce-orders-table {
    * {
      font-weight: normal !important;
    }

    tbody td,
    tbody th {
      border-color: rgba(255, 255, 255, 0.1);
    }

    a.button,
    a.button:hover {
      background: none;
      border: 0;
      color: var(--white);
      padding: 0;
    }
  }

  .woocommerce .woocommerce-order-details {
    * {
      font-weight: normal !important;
    }

    .wc-item-meta .wc-item-meta-label,
    .product-quantity {
      color: inherit;
    }
  }

  .woocommerce
    .woocommerce-customer-details
    .woocommerce-customer-details--email::before {
    line-height: inherit;
  }
}

body.woocommerce-order-received #main .woocommerce-order {
  padding: var(--indent-medium) var(--indent-medium) 0;

  p.woocommerce-notice {
    text-align: center;
    margin: 0 0 var(--indent-medium);
    font-size: 24px;
  }

  .woocommerce-order-overview {
    border: 2px solid var(--white);
    margin: 0 0 var(--indent-medium);
    display: flex;
    justify-content: space-around;

    @media (width <= 680px) {
      & {
        flex-direction: column;
      }
    }

    > li {
      margin: 0;
      padding: var(--indent-small);
      line-height: inherit;
      border: 0;
      font-size: inherit;
    }

    strong {
      font-weight: normal;
    }
  }

  .woocommerce-bacs-bank-details {
    * {
      font-weight: normal !important;
    }

    h2 {
      margin: 0 0 var(--indent-medium);
    }
  }

  .woocommerce-order-details {
    padding: var(--indent-big) 0 var(--indent-medium);

    h2 {
      font-weight: normal;
      margin: 0 0 var(--indent-medium);
    }

    table.shop_table th {
      font-weight: normal;
      line-height: inherit;
      padding: var(--indent-medium);
    }

    table.shop_table td,
    table.shop_table th {
      border-color: rgba(255, 255, 255, 0.1);
      font-weight: normal;
    }

    td.product-name a {
      color: var(--white);
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-bottom: 2px solid currentColor;
        transition: width 0.2s;
      }
      &:hover:after {
        width: 0;
      }
    }

    td.product-name .wc-item-meta .wc-item-meta-label {
      font-weight: normal;
    }
  }

  .woocommerce-customer-details {
    h2 {
      font-weight: normal;
    }
    .woocommerce-customer-details--email::before {
      line-height: inherit;
    }
  }
}

.woocommerce #main .woocommerce-message a.button,
.woocommerce #main .woocommerce-message .button,
.woocommerce #main .woocommerce-error .button {
  color: var(--black);
  text-decoration: none;
  position: relative;
  background: none;
  border: 0;
  font-size: inherit;
  padding: 0;
  font-weight: normal;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    border-bottom: 2px solid currentColor;
    transition: width 0.2s;
  }
  &:hover:after,
  &.visual_link-active:after {
    width: 0;
  }
}

#main .wc-block-components-product-price__value.is-discounted {
  color: var(--red);
}

.js-bouncing-anim-item {
  animation: bounce 2s ease 3;
}
@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-25%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-14%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-6%);
  }
  100% {
    transform: translateY(0);
  }
}

.js-random-dog {
  pointer-events: none;
  position: fixed;
  z-index: 999;
  overflow: hidden;
  /* border-radius: 50%; */
  /* background: var(--white); */
  max-width: 60%;
  width: 150px;
}
