/* START CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

html {
  height: 100%;
}

body,
html {
  scroll-behavior: smooth;
  min-height: 100%;
}

/* END CSS RESET */

/* START COMMON CSS */
.fa {
  font-family: FontAwesome;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font:
    400 16px/1.3 "Bebas Neue",
    Arial,
    serif;
  background: var(--black);
  color: var(--white);
  text-transform: uppercase;
}

:root {
  --black: #0c0c0a;
  --white: #fff;
  --red: #ec2225;
  --indent-small: 10px;
  --indent-medium: 20px;
  --indent-big: 40px;

  --header-height: 60px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity 0.7s 0.5s ease-in-out,
    visibility 0s 2s;

  h1 {
    border: 4px solid currentColor;
    padding: 20px 40px;
    font-size: 10vw;
    letter-spacing: 6vw;
    color: var(--white);
    transition:
      transform 1s 0.1s ease-in-out,
      opacity 0.5s 1s;
    transform-origin: 50% 50%;
    margin: 0 20px;

    svg {
      display: block;
    }
  }

  .page-loaded & {
    opacity: 0;
    visibility: hidden;

    h1 {
      transform: scale(3);
      opacity: 0;
    }
  }
}
.logo {
  color: var(--white);

  a {
    display: block;
    font-size: 30px;
    letter-spacing: 5px;
    border: 2px solid currentColor;
    padding: 5px 10px;
    color: currentColor;
    text-decoration: none;
  }

  span {
    margin-right: -5px;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--indent-small) var(--indent-medium);
  background: var(--black);
  display: flex;
  align-items: center;
  z-index: 5;
  height: var(--header-height);

  .logo {
    margin: 0 var(--indent-medium) 0 0;
    z-index: 10;
  }
}
.main-menu {
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  color: var(--white);
  z-index: 10;

  .main-menu-opener {
    display: none;
  }

  ul {
    display: flex;
    flex-wrap: nowrap;

    li {
      margin-left: var(--indent-small);
    }

    a {
      padding: var(--indent-small);
    }
  }
}

#main {
  padding: calc(20px + var(--indent-big)) 0 0;
}

#footer {
  background: var(--black);
  display: flex;
  align-items: center;
  color: var(--white);
  padding: var(--indent-medium) 0 0;

  @media (width <= 680px) {
    & {
      flex-direction: column;
    }
  }

  .footer-top {
    order: 1;
    margin-left: auto;
    display: flex;
    padding: 0 var(--indent-medium) var(--indent-medium);

    @media (width <= 680px) {
      & {
        margin-left: 0;
      }
    }
  }

  .social-media {
    margin: 0 0 0 var(--indent-small);
  }

  .footer-nav {
    ul {
      display: flex;
      flex-wrap: nowrap;
    }
    li {
      text-transform: uppercase;
      padding: 0 var(--indent-small);
    }
  }
  .footer-bottom {
    padding: 0 var(--indent-medium) var(--indent-medium);
    order: 0;
    @media (width <= 680px) {
      & {
        order: 1;
      }
    }
  }
}
.vite-item {
  --outline-width: 4px;
  --outline-duration: 0.5s;

  position: relative;
  color: var(--white);
  overflow: hidden;

  .vite-item__holder {
    position: relative;
  }

  &:after,
  &:before,
  .vite-item__holder:after,
  .vite-item__holder:before {
    content: "";
    position: absolute;
    left: var(--indent-medium);
    bottom: var(--indent-medium);
    top: calc(100% - var(--indent-medium));
    border: var(--outline-width) solid var(--white);
    z-index: 1;
  }

  &:after {
    border-width: 0 0 0 var(--outline-width);
    transition: top var(--outline-duration);
  }

  &:before {
    bottom: auto;
    top: var(--indent-medium);
    right: calc(100% - var(--indent-medium));
    border-width: var(--outline-width) 0 0;
    transition: right var(--outline-duration) var(--outline-duration);
  }

  .vite-item__holder:after {
    left: auto;
    right: var(--indent-medium);
    bottom: calc(100% - var(--indent-medium));
    top: var(--indent-medium);
    border-width: 0 var(--outline-width) 0 0;
    transition: bottom var(--outline-duration);
  }

  .vite-item__holder:before {
    left: auto;
    right: var(--indent-medium);
    left: calc(100% - var(--indent-medium));
    top: auto;
    bottom: var(--indent-medium);
    border-width: 0 0 var(--outline-width);
    transition: left var(--outline-duration) var(--outline-duration);
  }

  &.js-visible,
  .js-desktop-device &:hover {
    &:after {
      top: var(--indent-medium);
      transition-delay: var(--outline-duration);
    }
    &:before {
      right: var(--indent-medium);
      transition-delay: 0s;
    }

    & > .vite-item__holder:after {
      bottom: var(--indent-medium);
      transition-delay: var(--outline-duration);
    }

    & > .vite-item__holder:before {
      left: var(--indent-medium);
      transition-delay: 0s;
    }
  }
}
.visual_link {
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    border-bottom: 2px solid currentColor;
    transition: width 0.2s;
  }
  &:hover:after,
  &.visual_link-active:after {
    width: 100%;
  }
}

.product-item {
  position: relative;
  font-size: 18px;
  font-weight: normal;
  color: var(--white);
  text-align: center;
  overflow: hidden;

  .product-item__holder {
    position: relative;
  }

  .product-item__link {
    display: block;
    position: relative;
    color: var(--white);
  }

  .product-item__image {
    transform-origin: 50% 50%;
    transition: transform 0.2s;
  }

  .js-desktop-device
    &:not(.product-item--out-of-stock):not(.disabled):hover
    .product-item__image {
    transform: scale(1.2);
  }

  .product-item__text {
    position: absolute;
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px;
    padding: var(--indent-medium);
    background: var(--black);
  }

  .price {
    span {
      padding: 0 var(--indent-small);
    }
    .old-price {
      color: var(--red);
      text-decoration: line-through;
    }
  }

  &.product-item--out-of-stock:after,
  &.disabled:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--black);
    opacity: 0.8;
  }

  &.product-item--out-of-stock:before {
    display: block;
    content: "Out of stock";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);

    color: var(--red);
    z-index: 1;
    font-size: 20px;
    border: 2px solid var(--red);
    padding: var(--indent-small);
  }
}

.category-section__container {
  margin: 0 0 var(--indent-medium);
  background: var(--black) url(public/images/bg-concrete.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.category-section {
  display: flex;
  width: 100%;
  padding: var(--indent-big);
  font-size: 18px;

  @media (width <= 768px) {
    flex-direction: column;
  }

  .category-section__content {
    width: 30%;
    min-width: 30%;
    padding: 0 var(--indent-medium);

    @media (width <= 768px) {
      width: 100%;
      padding: var(--indent-medium) 0;
      order: -1 !important;
    }
  }

  &.category-section--right {
    .category-section__content {
      order: 2;
    }
  }

  &.category-section--center {
    flex-direction: column;

    .category-section__content {
      width: 100%;
      text-align: center;
      padding-bottom: var(--indent-medium);
    }
  }

  .category-section__slider {
    flex-grow: 1;
    min-width: 0;
  }

  .category-section__title {
    font-size: 70px;

    @media (width <= 768px) {
      font-size: 40px;
    }
  }

  div.swiper {
    --swiper-scrollbar-drag-bg-color: var(--white);
    --swiper-navigation-color: var(--white);
    --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.5);

    color: var(--white);
    padding: 0 0 var(--indent-medium);
    max-width: 100%;

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
      pointer-events: auto;
    }
  }
}

/* START COLLECTION MENU  */
.collection-menu {
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 500px;
  padding: var(--indent-medium);
  right: 0;
  background: #000;
  font-size: 20px;
  top: var(--header-height);
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s;

  ul {
    display: block;

    li {
      display: block;
      padding: 0;
    }

    a {
      margin: var(--indent-small) 0;
      padding: 0;
    }
  }
}

.collection-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.js-collection-active {
  overflow: hidden;

  .collection-menu {
    transform: translateX(0);
  }
  .collection-menu-overlay {
    opacity: 1;
    visibility: visible;
  }
}
/* END  COLLECTION MENU  */

/* END COMMON CSS */

/* START PAGE SOON */
.page-soon {
  display: flex;
  background: var(--black) url(public/images/bg-concrete.jpg) 50% 50% no-repeat;
  background-size: cover;

  .soon {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .soon-content {
    position: relative;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 2s 0.5s;

    user-select: none;

    .page-loaded & {
      opacity: 1;
    }
  }
  .title {
    position: relative;
  }

  .heading {
    text-align: center;
    border: 4px solid currentColor;
    padding: 5px 40px;
    font-size: 10vw;
    letter-spacing: 6vw;

    position: relative;
    background: var(--black);
    display: block;
    color: var(--white);
    text-decoration: none;

    &:before {
      content: attr(data-text);
      position: absolute;
      transform: translate3d(0, 0, 0);
      color: #e0ffff;
      z-index: -1;
    }

    &.js-animation-active {
      opacity: 0.9;
      text-shadow:
        0px -3px #ec2225,
        0px 3px #00c2cb,
        -3px 0px #ec2225,
        3px 0px #00c2cb;

      &:before {
        animation: animate-glitch 12ms ease-in-out infinite;
        z-index: 1;
      }
    }
  }

  .heading span {
    margin-right: -6vw;
  }

  .text-content {
    font-size: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(50px);
    text-align: center;
  }

  .text {
    white-space: nowrap;
    margin: 0 0 40px;
  }

  .typed-text {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent;
    width: 0;
    padding-right: 3px;

    .page-loaded & {
      animation-delay: 10s 10s;
      animation:
        typing 2s 0.5s steps(30, end) forwards,
        blinking 1s 0.5s infinite;
    }
  }

  .link-ig {
    display: inline-block;
    vertical-align: top;
    width: 50px;

    img {
      transition:
        opacity 0.2s,
        transform 0.2s;
    }
    &:hover img {
      opacity: 0.8;
      transform: translateY(-2px);
    }

    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.77, 0.02, 0.11, 0.97);
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-name: bounce-item;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: currentColor;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes bounce-item {
  0.5% {
    transform: translateY(0%) scale(1.3, 0.8);
  }
  1.75% {
    transform: translateY(-40%) scale(0.8, 1.2);
  }
  3%,
  100% {
    transform: translateY(0%);
  }
}

@keyframes animate-glitch {
  0%,
  100% {
    transform: translate3d(0, -7px, 0);
    opacity: 1;
  }
  20% {
    transform: translate3d(-10px, 0, 0);
    opacity: 0.7;
  }
  40% {
    transform: translate3d(0, 7px, 0);
    opacity: 0.2;
  }
  60% {
    transform: translate3d(10px, 0, 0);
    opacity: 0.3;
  }
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 0.9;
  }
}
/* END PAGE SOON */

/* START HOMEPAGE */
#main > [id] {
  scroll-margin-top: var(--header-height);
}
.skrollr body {
  height: auto !important;
}

.visual {
  img {
    width: 100%;
  }

  .visual__content-cover {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    align-items: center;
    padding: var(--indent-big);
  }

  .visual__image {
    video {
      display: block;
      width: 100%;
      height: auto;
      pointer-events: none;
      user-select: none;
    }
  }

  .visual__title {
    font-size: 70px;

    @media (width <= 768px) {
      font-size: 40px;
    }
  }
}

/* START PRODUCT PAGE */
.product-block {
  display: flex;
  width: 100%;
  position: relative;

  &.product-block--out-of-stock,
  &.disabled {
    .product-form .button {
        pointer-events: none;
        opacity: 0.3;
    }

    .product-data-item--status {
        display: block;
    }
  }

  .product-data {
    width: 40%;
    padding: 0 var(--indent-medium);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .product-title {
    font-size: 18px;
    font-weight: normal;
    padding: 0 0 var(--indent-small);
  }
  .product-price {
    font-size: 18px;
    font-weight: normal;
    padding: 0 0 var(--indent-big);
  }

  .product-data-item--status {
    color: var(--red);
    display: none;
    font-size: 20px;
  }

  .product-data-item {
    padding: 0 0 var(--indent-medium);
  }

  .product-tabs {
    .tabset {
      display: flex;
      padding: 0 0 var(--indent-small);

      li {
        padding: 0 var(--indent-medium) 0 0;
      }
    }
    .tab-container {
      overflow: hidden;
      position: relative;
    }
    .tab-item {
      transition: max-height 0.3s linear;
      max-height: 0;
      overflow: hidden;
      position: relative;

      &.js-tab-active {
        transition-delay: 0.3s;
      }

      &.js-tab-active {
        max-height: 1000px;
      }
    }

    .size-heading {
      display: flex;
      padding: 0 0 var(--indent-small);

      span {
        margin-left: auto;
      }
    }

    .size-table {
      width: 100%;
      text-align: center;

      th {
        font-weight: normal;
      }
    }
  }

  .description {
    overflow: hidden;
    p {
      margin-bottom: var(--indent-small);
      &:last-child {
        margin: 0;
      }
    }
  }

  .product-size {
    .title {
      display: block;
      margin-bottom: var(--indent-small);
    }

    ul {
      display: flex;

      li {
        padding: 0 var(--indent-medium) 0 0;
      }

      label {
        position: relative;
        display: block;

        span {
          display: block;
          overflow: hidden;
          width: 40px;
          text-align: center;
          border: 1px solid var(--white);
          padding: 3px;
          cursor: pointer;
        }

        span:hover,
        input:checked + span {
          background-color: var(--white);
          color: var(--black);
        }

        input:disabled + span {
          pointer-events: none;
          opacity: 0.5;
        }

        input {
          width: 1px;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 50%;
          opacity: 0;
        }
      }
    }
  }

  .product-color {
    .title {
      display: block;
      margin-bottom: var(--indent-small);
    }

    ul {
      display: flex;

      li {
        padding: 0 var(--indent-medium) 0 0;
      }

      label {
        position: relative;
        display: block;

        span {
          display: block;
          width: 80px;
          height: 18px;
          border: 1px solid var(--white);
          cursor: pointer;
          margin-bottom: 5px;

          &:after {
            bottom: -5px;
            top: auto;
            border-bottom-width: 1px;
          }
        }

        input:checked + span:after {
          width: 100%;
        }

        input:disabled + span {
            opacity: 0.3;
            pointer-events: none;

            &:after {
                display: none;
            }
        }

        input {
          width: 1px;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 50%;
          opacity: 0;
        }
      }
    }
  }

  .product-form {
    max-width: 500px;
    margin: 0 auto;
    position: sticky;
    top: var(--header-height);
    padding: var(--indent-big) 0 var(--indent-medium);

    .button {
      display: block;
      width: 100%;
      background-color: var(--white);
      padding: 5px;
      cursor: pointer;
      border: 1px solid var(--white);
      color: var(--black);
      font-size: 18px;
      line-height: 24px;
      height: 34px;
      transition:
        background-color 0.4s,
        color 0.4s;

      &:hover {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;

    .product-data {
      width: 100%;
      min-height: auto;

      .product-form {
        max-width: none;
        padding: calc(2 * var(--indent-big)) 0;
      }
    }
  }

  .product-visual {
    position: relative;

    div.swiper {
      --swiper-scrollbar-drag-bg-color: var(--black);
      --swiper-navigation-color: var(--black);
      --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.5);

      color: var(--white);
      padding: 0 0 var(--indent-medium);
      max-width: 100%;

      .swiper-button-prev.swiper-button-disabled,
      .swiper-button-next.swiper-button-disabled {
        pointer-events: auto;
      }
    }
    @media (min-width: 1025px) {
      width: 60%;
      .swiper-wrapper {
        display: block;
      }
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
      .swiper .swiper-slide {
        transform: none !important;
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

.you-may-like-container {
  .category-section .category-section__title {
    font-size: 40px;
  }
}
/* END PRODUCT PAGE */

/* START ABOUT PAGE */
.page-about {
  .about-section {
    font-size: 20px;
    padding: 0 var(--indent-medium) var(--indent-big);
  }

  .about-visual {
    margin: 0 0 var(--indent-medium);
  }

  h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 0 0 var(--indent-medium);
  }

  h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 var(--indent-medium);
  }

  p {
    margin: 0 0 var(--indent-small);
  }

  @media (width <= 680px) {
    .about-section {
      font-size: 16px;
    }

    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 24px;
    }
  }
}

/* END ABOUT PAGE */
